includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    bootstrapFiles:
        - tests/_phpstan_bootstrap.php

    level: max

    paths:
        - config
        - src
        - tests/Acceptance
        - tests/Functional
        - tests/Unit

    tmpDir: %currentWorkingDirectory%/runtime

    yii2:
        config_path: tests/Support/phpstan-config.php

    # Enable strict advanced checks
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
